 .u-section-1 {
  background-image: url("images/dsf.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 164px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1613px;
}

.u-section-2 .u-list-1 {
  margin-top: 4px;
  margin-bottom: -8px;
  grid-template-rows: repeat(2, auto);
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14px);
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 1617px;
  grid-gap: 21px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 29px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-line-1 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-image-1 {
  width: 303px;
  height: 300px;
  object-position: 50% 51.4%;
  margin: 28px auto 0 1px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0 64px;
  padding: 10px 37px 10px 36px;
}

.u-section-2 .u-image-2 {
  width: 50px;
  height: 50px;
  margin: -47px auto 0 1px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 13px auto 0 64px;
}

.u-section-2 .u-image-3 {
  width: 50px;
  height: 50px;
  margin: -46px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-size: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 29px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-line-2 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-image-4 {
  width: 303px;
  height: 300px;
  margin: 28px auto 0 1px;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0 64px;
  padding: 10px 37px 10px 36px;
}

.u-section-2 .u-image-5 {
  width: 50px;
  height: 50px;
  margin: -47px auto 0 1px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 13px auto 0 64px;
}

.u-section-2 .u-image-6 {
  width: 50px;
  height: 50px;
  margin: -46px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 29px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-line-3 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-image-7 {
  width: 303px;
  height: 300px;
  margin: 28px auto 0 1px;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0 64px;
  padding: 10px 37px 10px 36px;
}

.u-section-2 .u-image-8 {
  width: 50px;
  height: 50px;
  margin: -47px auto 0 1px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 13px auto 0 64px;
}

.u-section-2 .u-image-9 {
  width: 50px;
  height: 50px;
  margin: -46px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  background-size: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 15px 29px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-line-4 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-image-10 {
  width: 303px;
  height: 300px;
  margin: 28px auto 0 1px;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0 64px;
  padding: 10px 37px 10px 36px;
}

.u-section-2 .u-image-11 {
  width: 50px;
  height: 50px;
  margin: -47px auto 0 1px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 13px auto 0 64px;
}

.u-section-2 .u-image-12 {
  width: 50px;
  height: 50px;
  margin: -46px auto 0 0;
}

.u-section-2 .u-list-item-5 {
  background-size: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 15px 29px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-line-5 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-image-13 {
  width: 303px;
  height: 300px;
  margin: 28px auto 0 1px;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0 64px;
  padding: 10px 37px 10px 36px;
}

.u-section-2 .u-image-14 {
  width: 50px;
  height: 50px;
  margin: -47px auto 0 1px;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 13px auto 0 64px;
}

.u-section-2 .u-image-15 {
  width: 50px;
  height: 50px;
  margin: -46px auto 0 0;
}

.u-section-2 .u-list-item-6 {
  background-size: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 15px 29px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-2 .u-line-6 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-image-16 {
  width: 303px;
  height: 300px;
  margin: 28px auto 0 1px;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px auto 0 64px;
  padding: 10px 37px 10px 36px;
}

.u-section-2 .u-image-17 {
  width: 50px;
  height: 50px;
  margin: -47px auto 0 1px;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 13px auto 0 64px;
}

.u-section-2 .u-image-18 {
  width: 50px;
  height: 50px;
  margin: -46px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 583px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -21px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -59px;
  }

  .u-section-2 .u-btn-2 {
    width: 157px;
    height: 42px;
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
    width: 157px;
    height: 42px;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
    width: 157px;
    height: 42px;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-10 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 0;
    width: 157px;
    height: 42px;
  }

  .u-section-2 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-13 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 0;
    width: 157px;
    height: 42px;
  }

  .u-section-2 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-16 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-12 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 0;
    width: 157px;
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10.5px);
    grid-template-columns: repeat(2, calc(50% - 10.5px));
  }

  .u-section-2 .u-image-1 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-10 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-13 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-16 {
    height: 282px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-7 {
    height: 487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-10 {
    height: 487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-13 {
    height: 487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-16 {
    height: 487px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-4 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-7 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-10 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-13 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-16 {
    height: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}